@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@400;700&display=swap");

:root {
  font-size: 10px;
  font-family: "Montserrat", serif;
  color: #333;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fafafa;
  font-weight: 400;
}
.f12 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #4f4f4f;
  margin-bottom: 2rem;
}
main {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
h4 {
  font-style: italic;
  font-weight: 400;
  margin: 1.2rem 0;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-family: "Playfair Display", serif;
}
.italic {
  font-weight: 500;
  font-style: italic;
}
.container {
  margin: 2rem 1rem;
  font-size: 1.4rem;
}
.bold {
  font-weight: 700;
}
header > img {
  width: 100%;
}
header > article > img {
  padding: 1rem 0;
}
.container > header > article {
  display: flex;
  align-items: flex-start;
  column-gap: 1.2rem;
}
h1 {
  font-size: 2.4rem;
  margin: 1.2rem 0;
}

.ingredients article {
  margin-bottom: 2rem;
}

.ingredients p {
  display: flex;
  column-gap: 0.8rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.ingredients input {
  margin-top: 0.3rem;
  min-width: 2.1rem;
  height: 2.1rem;
}
.ingredients p > span {
  margin-top: 0.2rem;
}

.instructions {
  font-size: 1.6rem;
}

.instructions > div {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin-right: 0.8rem;
}

.instructions h1 {
  min-width: 3.6rem;
  height: 3.6rem;
  background-color: #f2994a;
  text-align: center;
  color: white;
  border-radius: 0.6rem;
}
.faded {
  color: #bdbdbd;
  margin-bottom: 13rem;
  font-size: 1.2rem;
  font-weight: 400;
}
footer {
  text-align: center;
}
.underline {
  text-decoration: underline;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: inherit;
}

/* aside */
.time {
  justify-content: flex-start;
  column-gap: 4rem;
}
aside {
  margin-top: 2.4rem;
}
aside p span:first-of-type {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  color: #bdbdbd;
}

aside p span:last-of-type {
  font-size: 1rem;
  font-weight: 500;
}

aside p {
  display: flex;
  flex-direction: column;
}
aside div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  column-gap: 0.5rem;
  cursor: pointer;
}
.orange {
  color: #f2994a;
}

/* media for width 768px and above */
@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  .container {
    /* margin: auto; */
    margin-right: 3rem;
    margin-left: 3rem;
    max-width: 969px;
    font-size: 1.6rem;
  }
  h1 {
    font-size: 4.8rem;
  }
  .instructions h1 {
    font-size: 2.4rem;
  }
  .f12 {
    font-size: 1.4rem;
    max-width: 59.2rem;
    line-height: 1.7rem;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  h4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  footer {
    font-size: 1.4rem;
  }
  main {
    flex-direction: row-reverse;
    margin-top: 4.8rem;
    column-gap: 5rem;
  }
  aside {
    border-radius: 0.2rem;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    min-width: 21.6rem;
    width: 21.6rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 4.2rem;
    padding: 5.7rem 4.3rem 0 4.3rem;
    height: fit-content;
  }
  aside p span:first-of-type {
    font-size: 1rem;
  }

  aside p span:last-of-type {
    font-size: 1.4rem;
  }
  aside .time {
    flex-direction: column;
    row-gap: 4.2rem;
    align-items: flex-start;
  }
  aside div {
    column-gap: 1.4rem;
  }
  .faded {
    font-size: 1.6rem;
  }
  .hide {
    display: none;
  }
}

@media screen and (min-width: 969px) {
  .container {
    max-width: 969px;
    margin: auto;
  }
  main {
    column-gap: 11rem;
  }
}
